<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Skontaktuj się z nami</h2>
			<p>Skontaktuj się z nami, aby dowiedzieć się więcej o działalności naszego koła.</p>
		</header>
		<div class="actions vertical" style="display: flex; align-items: center;">
		    <a href="{{ site.baseurl }}{% link contact.md %}" class="button fit special">Kontakt</a>
		</div>
		<!--<ul class="actions vertical">
			<li><a href="{{ site.baseurl }}{% link contact.md %}" class="button fit special">Kontakt</a></li>
		</ul>-->
	</div>
</section>
