
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Poprzednia</a>
  {% else %}
    <a class="previous" disabled>Poprzednia</a>
  {% endif %}
  <span class="page_number ">
    Strona {{ paginator.page }} z {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Następna</a>
  {% else %}
    <a class="next" disabled>Następna</a>
  {% endif %}
</div>
