<!-- One -->
<section id="one" class="wrapper style5 special">
	<div class="inner">
		<header class="major">
			<h2>Działalność koła</h2>
			<p>Studenckie Koło Naukowe „Psyche i Logos” koncentruje się na naukowym zgłębianiu psychologii. Angażujemy się w badania naukowe praz przedsięwzięcia popularnonaukowe, mające na celu promocję psychologii jako nauki praktycznej, opartej na dowodach. Współpracujemy zarówno z organizacjami studenckimi Uniwersytetu Opolskiego, jak i z Kołami Naukowymi innych uczelni. Wierzymy, że innowacyjne pomysły są kluczowe dla rozwoju naszej dziedziny, dlatego zachęcamy do aktywnego udziału i dzielenia się pomysłami! Razem stwórzmy inspirujące środowisko, sprzyjające eksploracji i rozwojowi wiedzy psychologicznej.</p>
		</header>
		<h1 style="color: red;">Pomysł: wystający ludzik z logo z lampką pomarańczowy dla ciekawego designu</h1>
		<ul class="icons major">
			<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span>
			</li>
			<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span>
			</li>
			<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span>
			</li>
		</ul>
	</div>
</section>
